[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
python-multipart = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
